*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(213, 200, 184);
    font-family: verdana, arial, helvetica, sans-serif;
    height: 100%;
    width: 100%;
}
.body-image{
    background-image: url("rocks.jpg") no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover; 
    position: absolute;
    object-fit: cover;
    background-position: 0%;
    

}
.content {
    width: 100%;
    height: 70vh;
    overflow: hidden;
    position: relative;
    text-align: justify;
    
}
h1 {
    text-align: center;
    background-color: rgba(213, 200, 184, 0);
    color: rgb(255, 255, 255);
    padding: 50px;
    font-weight: lighter;
    background-image: url("fabric.png");
    background-size: cover;
}
nav {
    background-color: rgba(166, 141, 96, 0.223);
    width: 100%;
    list-style-type: none;
    text-align: center;
}
nav li {
    display: inline-flex;
}
nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px;
    width: 100px;
}
nav li:hover {
    background-color: rgba(166, 141, 96, 0.695);    
}
/*.shop-buttom {
    visibility: hidden;
}
.shop-buttom:hover {
    display: inline;
}*/
.catalog img { 
    width: 230px;
    height: 230px;
    border-radius: 50%;
    object-fit: cover;
    margin: 50px;
}
.catalog {
    display: flex;
    flex-wrap: wrap;
    margin: 70px;
    justify-content: space-evenly;
    text-align: center;
}
footer {
    background-color: rgba(166, 141, 96, 0.223)
}   